body {
    font-family: Arial, sans-serif;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Estilo compartilhado para h1 e o h2 com classe título-principal */
.titulo-principal {
    color: #3d3d3d;
    background-color: #e1edf2;
    border-bottom: 0;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 2em;
}

/* Estilo para outros h2 */
h2 {
    color: #3d3d3d;
    border-bottom: 2px solid #3d3d3d;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 1.5em;
}

/* Estilo genérico para figuras */
figure {
    text-align: center;
    background-color: #f5f5f5;
    padding: 15px;
}

figure.matriz {
    width: 550px;
    margin: 30px auto;
}

figure.familia {
    width: 275px;
    margin-left: 30px;
    float: right;
}

figure img {
    max-width: 100%;
    display: block;
}
figcaption {
    margin-top: 10px;
    color: #a0a0a0; 
    font-size: 0.9em; 
}